In [230]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\suven\anaconda3\lib\site-packages (4.7.2)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\suven\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\suven\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\suven\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: trio~=0.17 in c:\users\suven\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: sortedcontainers in c:\users\suven\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: sniffio in c:\users\suven\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: idna in c:\users\suven\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: attrs>=19.2.0 in c:\users\suven\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\suven\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: outcome in c:\users\suven\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\suven\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: cffi>=1.14 in c:\users\suven\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: pycparser in c:\users\suven\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\suven\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\suven\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\suven\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [231]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [232]:
# Connecting to the webdriver
driver = webdriver.Chrome(r"C:\Users\suven\OneDrive\Desktop\Internship\Web Scraping\Selenium\chromedriver.exe")

In [ ]:
driver = webdriver.Chrome(r"chromedriver.exe")

## ASSIGNMENT

Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You 
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 
jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the 
location” field.
3. Then click the searchbutton.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually

In [21]:
#1. First get the webpage https://www.naukri.com/
driver.get('https://www.naukri.com/')

In [24]:
#2.Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the location” field.
designation = driver.find_element(By.CLASS_NAME,'suggestor-input')
designation.send_keys('Data Analyst')

In [25]:
location = driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input')
location.send_keys('Bangalore')

In [ ]:
#3.Then click the searchbutton.

In [26]:
search = driver.find_element(By.CLASS_NAME,'qsbSubmit')
search.click()

In [ ]:
#4.Then scrape the data for the first 10 jobs results you get.

In [34]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [35]:
#Scraping job title from the given page
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

experience_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in company_tags[0:10]:
    experience=i.text
    experience_required.append(experience)

In [36]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [ ]:
5. #Finally create a dataframe of the scraped data. Note: All of the above steps have to be done in code.
No step is to be done manually

In [37]:
df=pd.DataFrame({'Title':job_title,'location':job_location,'company':company_name,'experience':experience_required})
df

,Title,location,company,experience
0,Data Analyst 2,Bangalore/Bengaluru,Zynga,Zynga
1,Data Analyst Engineer,Bangalore/Bengaluru,Ethos Watch,Ethos Watch
2,Global SCM Project & Data Analyst,Bangalore/Bengaluru,Aptiv,Aptiv
3,Market Research Data Analyst,Bengaluru,Robas Research,Robas Research
4,Analyst-Data Maintenance,Bangalore/Bengaluru,Accenture,Accenture
5,Analyst-Data Maintenance,Bangalore/Bengaluru,Accenture,Accenture
6,Analyst-Clinical Data Management (CDM),Bangalore/Bengaluru,Accenture,Accenture
7,Senior Analyst - Murex Data Reporting - IT Con...,"Bangalore/Bengaluru, Mumbai, Gurgaon/Gurugram",Megma Services,Megma Services
8,Data Analyst,Bangalore/Bengaluru,Shell,Shell
9,Data Analyst / Product Analyst / Business Analyst,"Bangalore/Bengaluru, Delhi / NCR",Benchire,Benchire

-------------

Q2:Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You 
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the 
location” field.
3. Then click the searchbutton.
4. Then scrape the data for the first 10 jobs results youget.
5. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually.

In [47]:
# 1.First get the webpage https://www.naukri.com/
driver.get('https://www.naukri.com/')

In [48]:
#2.Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the location” field.
designation = driver.find_element(By.CLASS_NAME,'suggestor-input')
designation.send_keys('Data Scientist')

In [49]:
location = driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input')
location.send_keys('Bangalore')

In [50]:
#3.Then click the searchbutton.
search = driver.find_element(By.CLASS_NAME,'qsbSubmit')
search.click()

In [ ]:
#4.Then scrape the data for the first 10 jobs results youget.

In [51]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [52]:
#Scraping job title from the given page
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

experience_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in company_tags[0:10]:
    experience=i.text
    experience_required.append(experience)

In [53]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [ ]:
5. #Finally create a dataframe of the scraped data. Note: All of the above steps have to be done in code.
No step is to be done manually

In [54]:
df=pd.DataFrame({'Title':job_title,'location':job_location,'company':company_name,'experience':experience_required})
df

,Title,location,company,experience
0,Data Scientist,"Bangalore/Bengaluru, Noida, Kolkata, Mumbai, H...",Capgemini,Capgemini
1,Data Scientist,"Temp. WFH - Bangalore/Bengaluru, Hyderabad/Sec...",Tech Mahindra,Tech Mahindra
2,Data Science Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture,Accenture
3,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture,Accenture
4,Lead Data Scientist,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",Birlasoft,Birlasoft
5,Data Scientist,"Hybrid - Bangalore/Bengaluru, Noida, Hyderabad...",Birlasoft,Birlasoft
6,Data Scientist Knowledge graph,"Hybrid - Bangalore/Bengaluru, Pune",Capco,Capco
7,Data Scientist,Bangalore/Bengaluru,Infosys,Infosys
8,Supply Chain Specialist Staff,Bangalore/Bengaluru,Juniper Networks,Juniper Networks
9,Analytic Delivery Lead,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Gharondaa Advisors,Gharondaa Advisors

-------

Q3: In this question you have to scrape data using the filters available on the webpage as shown below

You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results. 
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get thewebpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the searchbutton.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results youget.
6. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually.

In [203]:
#1.first get thewebpage https://www.naukri.com/
driver.get('https://www.naukri.com/')

In [60]:
#2.Enter “Data Scientist” in “Skill, Designations, and Companies” field.

In [204]:
designation = driver.find_element(By.CLASS_NAME,'suggestor-input')
designation.send_keys('Data Scientist')

In [ ]:
#3.Then click the searchbutton.

In [205]:
search = driver.find_element(By.CLASS_NAME,'qsbSubmit')
search.click()

In [ ]:
#4.Then apply the location filter and salary filter by checking the respective boxes

In [206]:
loc_filter=driver.find_elements(By.XPATH,"//div[@class='mt-8 chckBoxCont']//span")


for i in loc_filter :
    if (i.text=='Delhi / NCR'):
        i.click()
        break

In [207]:
sal_filter=driver.find_elements(By.XPATH,"//div[@class='mt-8 chckBoxCont']//span")
for i in sal_filter:
    if(i.text=='3-6 Lakhs'):
        i.click()
        break

In [ ]:
#scraping required data

In [ ]:
#5.Then scrape the data for the first 10 jobs results you get.

In [209]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [210]:
#Scraping job title from the given page
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

experience_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in company_tags[0:10]:
    experience=i.text
    experience_required.append(experience)

In [ ]:
#6.Finally create a dataframe of the scraped data. Note: All of the above steps have to be done in code. No step is to be done manually.

In [211]:
df=pd.DataFrame({'Title':job_title,'location':job_location,'company':company_name,'experience':experience_required})
df

,Title,location,company,experience
0,Data Scientist,"Noida, Kolkata, Mumbai, Hyderabad/Secunderabad...",Capgemini,Capgemini
1,Data Scientist,"Temp. WFH - Hyderabad/Secunderabad, Pune, Chen...",Tech Mahindra,Tech Mahindra
2,Analystics & Modeling Specialist,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",Accenture,Accenture
3,Data Science Specialist,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",Accenture,Accenture
4,Data Engineer,"Temp. WFH - Pune, Chennai, Mumbai (All Areas)",Hexaware Technologies,Hexaware Technologies
5,Data Scientist,Bangalore/Bengaluru,ANZ,ANZ
6,Staff Data Analyst,Bangalore/Bengaluru,Walmart,Walmart
7,Data Scientist,Bangalore/Bengaluru,ANZ,ANZ
8,Lead Data Scientist,"Noida, Hyderabad/Secunderabad, Pune, Chennai, ...",Birlasoft,Birlasoft
9,Data Scientist,"Hybrid - Noida, Hyderabad/Secunderabad, Pune, ...",Birlasoft,Birlasoft

-----

Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. ProductDescription
3. Price
The attributes which you have to scrape is ticked marked in the below image.

To scrape the data you have to go through following steps:
1. Go to Flipkart webpage by url :https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and 
click the search icon
3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap the 
required data asusual.

4. After scraping data from the first page, go to the “Next” Button at the bottom other page , then
click on it.
5. Now scrape data from this page asusual
6. Repeat this until you get data for 100sunglasses.
Note: That all of the above steps have to be done by coding only and not manually.

In [212]:
#1. Go to Flipkart webpage by url :https://www.flipkart.com/
driver.get('https://www.flipkart.com/')

In [213]:
#2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and click the search icon 

search_product = driver.find_element(By.CLASS_NAME,'_3704LK')
search_product.send_keys('sunglasses')

In [217]:
#click on the search button

search_button =driver.find_element(By.CLASS_NAME,'L0Z3Pu')
search_button.click()

In [ ]:
#3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap the required data asusual.
#4.After scraping data from the first page, go to the “Next” Button at the bottom other page , then click on it.
#5.Now scrape data from this page asusual

In [218]:
Brand = []
Product_Description = []
Price= []


brand = driver.find_elements(By.XPATH,"//div[@class='_2WkVRV']")
prod_desc = driver.find_elements(By.XPATH,"//p[@class='IRpwTa']")
price = driver.find_elements(By.XPATH,"//div[@class='_30jeq3']")



for i in brand:
    Brand.append(i.text)
for o in prod_desc:
    Product_Description.append(o.text)
for p in price:
    Price.append(p.text) 

    
time.sleep(3)        
        
        
nxt_button=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]/span')
nxt_button.click()

In [219]:
print(len(Brand),len(Product_Description),len(Price))

40 0 40

# DOUBT

In [199]:
#lets  make dataframe from the scraped data

df = pd.DataFrame({'Brand': Brand[:100],'Price':Price[:100]})

df

                Brand   Price
0             PC STAR    ₹282
1           Elligator    ₹179
2            Fastrack    ₹599
3           Elligator    ₹149
4            Fastrack    ₹499
5           Elligator    ₹129
6           Elligator    ₹229
7      ROZZETTA CRAFT    ₹398
8          PHENOMENAL    ₹129
9          LIZA ANGEL    ₹174
10  SHAAH COLLECTIONS    ₹129
11     ROZZETTA CRAFT    ₹423
12      VINCENT CHASE    ₹599
13          Elligator    ₹149
14               SRPM    ₹149
15            PC STAR    ₹229
16             PIRASO    ₹274
17             PIRASO    ₹182
18               SRPM    ₹179
19     ROZZETTA CRAFT    ₹398
20         LIZA ANGEL    ₹129
21          New Specs    ₹259
22     ROZZETTA CRAFT    ₹649
23       Silver Kartz    ₹266
24           Fastrack    ₹579
25             SUNBEE    ₹129
26             PIRASO    ₹257
27             Dervin    ₹224
28             PIRASO    ₹244
29               SRPM    ₹129
30         EYELLUSION    ₹281
31          CART2DEAL  ₹1,244
32         LIZA ANGEL    ₹129
33          Rich Club    ₹258
34             PIRASO    ₹268
35             ARICKS    ₹259
36      VINCENT CHASE    ₹999
37     ROZZETTA CRAFT    ₹471
38           Fastrack    ₹579
39     RESIST EYEWEAR  ₹1,399

-----

Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: 
https://www.flipkart.com/apple-iphone-11-black-64-gb/productreviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market 
place=FLIPKART

As shown in the above page you have to scrape the tick marked attributes. These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100reviews.
Note: All the steps required during scraping should be done through code only and not manually.

In [176]:
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART')

In [164]:
Rating = []
Review_summary = []
Full_review = []

rating = driver.find_elements(By.XPATH,"//div[@class='_3LWZlK _1BLPMq']")
review = driver.find_elements(By.XPATH,"//p[@class='_2-N8zT']")
full_review = driver.find_elements(By.XPATH,"//div[@class='t-ZTKy']")

#for page in range(0,3):
for i in rating:
    Rating.append(i.text)
for o in review:
    Review_summary.append(o.text)
for p in full_review:
    Full_review.append(p.text)    
    
df = pd.DataFrame({'Rating':Rating,'Review_summary':Review_summary,'Full_review':Full_review})

df

,Rating,Review_summary,Full_review
0,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
1,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
2,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
3,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
4,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
5,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
6,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
7,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
8,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
9,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...

----

Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the 
search field.
You have to scrape 3 attributes of each sneaker:
1. Brand
2. ProductDescription
3. Price
As shown in the below image, you have to scrape the above attributes.

In [171]:
driver.get('https://www.flipkart.com/')

In [172]:
search_product = driver.find_element(By.CLASS_NAME,'_3704LK')
search_product.send_keys('sneakers')

In [173]:
#click on the search button

search_button =driver.find_element(By.CLASS_NAME,'_34RNph')
search_button.click()

In [183]:
Brand = []
Product_Description = []
Price= []


for i in range(3):
    brand = driver.find_elements(By.CLASS_NAME,'_2WkVRV')
    for i in brand:Brand.append(i.text)
    
    product_des = driver.find_elements(By.CLASS_NAME,'IRpwTa')
    for i in product_des:Product_Description.append(i.text)    
    
    price = driver.find_elements(By.CLASS_NAME,'_30jeq3')
    for i in price:Price.append(i.text)

time.sleep(3)        
        
        
nxt_button=driver.find_element(By.CLASS_NAME,'_1LKTO3')
nxt_button.click()

In [185]:
print(len(Brand),len(Product_Description),len(Price))

120 120 135

In [189]:
#creating DataFrame for the scraped Data

df=pd.DataFrame()
df["BRAND"]=Brand[:100]
df["PRODUCT_DESCRIPTION"]=Product_Description[:100]
df["PRICE"]=Price[:100]
df

,BRAND,PRODUCT_DESCRIPTION,PRICE
0,GVR,CLASSIC CT SNEAKER Sneakers For Men,₹749
1,GVR,SNEAKERS FOR MEN Sneakers For Men,₹749
2,World Wear Footwear,5011-Latest Collection Stylish & Trendy Casual...,₹199
3,ADIDAS,STREET ICON M Sneakers For Men,"₹1,907"
4,aadi,Synthetic Leather |Lightweight|Comfort|Summer|...,₹434
...,...,...,...
95,Bepassion,STYLISH CASUAL FOR MEW Sneakers For Men,"₹1,047"
96,SFR,Sneakers For Men,₹199
97,ADIDAS,STREET ICON M Sneakers For Men,₹749
98,RED TAPE,Sneakers For Men,₹399
99,ADIDAS ORIGINALS,NIZZA PLATFORM W Sneakers For Women,"₹1,504"

----

Q7: Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. Then 
set CPU Type filter to “Intel Core i7” as shown in the below image:
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:
1. Title
2. Ratings
3. Price

In [225]:
driver.get('https://www.amazon.com/')

In [226]:
#click on the search button

Product = driver.find_element(By.XPATH,"//input[@class='nav-input nav-progressive-attribute']")
Product.send_keys('Laptop')

In [227]:
#click on the search button

search_button =driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
search_button.click()

# DOUBT

In [229]:
#Then set CPU Type filter to “Intel Core i7

CPU = driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/div[3]/span")
CPU.send_keys("Intel Core i7")

ElementNotInteractableException: Message: element not interactable
  (Session info: chrome=109.0.5414.75)
Stacktrace:
Backtrace:
	(No symbol) [0x0057F243]
	(No symbol) [0x00507FD1]
	(No symbol) [0x003FCF10]
	(No symbol) [0x0042795E]
	(No symbol) [0x004270E5]
	(No symbol) [0x0044858C]
	(No symbol) [0x00422BFF]
	(No symbol) [0x00448804]
	(No symbol) [0x0045C9EB]
	(No symbol) [0x00448386]
	(No symbol) [0x0042163C]
	(No symbol) [0x0042269D]
	GetHandleVerifier [0x00819A22+2655074]
	GetHandleVerifier [0x0080CA24+2601828]
	GetHandleVerifier [0x00628C0A+619850]
	GetHandleVerifier [0x00627830+614768]
	(No symbol) [0x005105FC]
	(No symbol) [0x00515968]
	(No symbol) [0x00515A55]
	(No symbol) [0x0052051B]
	BaseThreadInitThunk [0x770B6BD9+25]
	RtlGetFullPathName_UEx [0x77A68FD2+1218]
	RtlGetFullPathName_UEx [0x77A68F9D+1165]

In [56]:
title_el=driver.find_elements(By.XPATH,"//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']")
title=[]
for i in title_el[:10]:
    title.append(i.text)

In [57]:
price_el=driver.find_elements(By.XPATH,"//span[@class='a-price-whole']")
price=[]
for i in price_el[:10]:
    price.append(i.text)

In [58]:
url2=driver.find_elements(By.XPATH,"//a[@class='a-link-normal a-text-normal']")

rating_url=[]
for i in url2[:10]:
    rating_url.append(i.get_attribute('href'))

In [59]:
import time
rating=[]
for i in rating_url[:10]:
    driver.get(i)
    time.sleep(3)
    try:
        
        ratings = driver.find_element(By.XPATH,".//span[@class='a-icon-alt']/..")
        ratings = ratings.get_attribute('innerHTML').split(">")[1].split(" ")[0]
        rating.append(ratings)
    except:
        
        
        rating.append("00")
rating

[]

In [60]:
#creating DataFrame for the scraped data

laptop_df=pd.DataFrame()

laptop_df['TITLE']=title[:10]
laptop_df['RATING']=rating[:10]
laptop_df['PRICE']=price[:10]

laptop_df

Empty DataFrame
Columns: [TITLE, RATING, PRICE]
Index: []

----

Q8: Write a python program to scrape data for Top 1000 Quotes of All Time.
The above task will be done in following steps:
1. First get the webpagehttps://www.azquotes.com/
2. Click on TopQuotes
3. Than scrap a) Quote b) Author c) Type Of Quotes

In [149]:
#1. First get the webpagehttps://www.azquotes.com/

driver.get('https://www.azquotes.com/')

In [ ]:
# Click on TopQuotes

In [150]:
Top_Quotes_button =driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a')
Top_Quotes_button.click()

In [ ]:
#3. Then scrap a) Quote b) Author c) Type Of Quotes

In [ ]:
#a) Quote

In [65]:
Quotes_list=[]
Authors_list=[]
Type_of_Quotes_list=[]

# DOUBT

In [152]:
print(len(Quotes_list),len(Type_of_Quotes_list),len(Authors_list))

60 40 20

In [151]:
Quotes_list_tags = driver.find_elements(By.XPATH,'//a[@class="title"]')
for i in Quotes_list_tags[0:10]:
    quotes=i.text
    Quotes_list.append(quotes)

Authors_list_tags = driver.find_elements(By.XPATH,'//div[@class="author"]')
for i in Authors_list_tags[0:10]:
    authors=i.text
    Authors_list.append(authors)

Type_of_Quotes_list_tags=driver.find_elements(By.XPATH,'//div[@class="tags"]')
for i in Type_of_Quotes_list_tags[0:10]:
    quotes_type=i.text
    Type_of_Quotes_list.append(quotes_type)

----

Q9: Write a python program to display list of respected former Prime Ministers of India(i.e. Name, Born-Dead, 
Term of office, Remarks) from https://www.jagranjosh.com/.
This task will be done in following steps:
1. First get the webpagehttps://www.jagranjosh.com/
2. Then You have to click on the GK option
3. Then click on the List of all Prime Ministers of India
4. Then scrap the mentioned data and make theDataFrame.

In [146]:
driver.get('https://www.jagranjosh.com/')

In [147]:
GK_button =driver.find_element(By.XPATH,'/html/body/div/div[1]/div/div[1]/div/div[6]/div/div[1]/header/div[3]/ul/li[9]/a')
GK_button.click()

In [148]:
PM_List =driver.find_element(By.XPATH,'/html/body/div[1]/div/div/div[2]/div/div[10]/div/div/ul/li[2]/a')
PM_List.click()

In [ ]:
Name=[]
Born-Dead=[]
Term_Office=[]
Remark=[]

# DOUBT

In [ ]:
Name_tags=driver.find_elements(By.XPATH,)
for i in title_tags[0:10]:
    name=i.text
    Name.append(name)

---

Q10: Write a python program to display list of 50 Most expensive cars in the world (i.e. 
Car name and Price) from https://www.motor1.com/
This task will be done in following steps:
1. First get the webpagehttps://www.motor1.com/
2. Then You have to click on the List option from Dropdown menu on leftside.
3. Then click on 50 most expensive carsin the world..
4. Then scrap the mentioned data and make the dataframe

In [236]:
driver.get('https://www.motor1.com/')

In [237]:
Dragdown =driver.find_element(By.CLASS_NAME,'m1-hamburger-button')
Dragdown.click()

In [238]:
List=driver.find_element(By.XPATH,'/html/body/div[4]/div[1]/div[3]/ul/li[5]/a')
List.click()

In [240]:
expcars=driver.find_element(By.XPATH,'/html/body/div[3]/div[9]/div[1]/div[1]/div/div/div[9]/div/div[1]/h3/a')
expcars.click()

In [241]:
Brand=[]
Price=[]
Description=[]

# DOUBT

In [242]:
Brand_tags=driver.find_elements(By.XPATH,'//h3[@class="subheader"]')
for i in Brand_tags[0:10]:
    brand=i.text
    Brand.append(brand)
    
#Price_tags=driver.find_elements(By.XPATH,'//h3[@class="m1_Native""]')
#for i in Price_tags[0:10]:
    #price=i.text
    #Price.append(price)

Desc_tags=driver.find_elements(By.XPATH,'//p[@class="m1_Native"]')
for i in Desc_tags[0:10]:
    desc=i.text
    Description.append(desc)

In [243]:
print(len(Brand),len(Price),len(Description))

10 0 0

In [135]:
df=pd.DataFrame({'CarName':Brand})
df

              CarName
0           Drako GTE
1       De Tomaso P72
2   Ferrari LaFerrari
3       Pagani Huayra
4        McLaren Elva
5         Czinger 21C
6       Ferrari Monza
7  Gordon Murray T.33
8   Koenigsegg Gemera
9         Zenvo TSR-S

-----

#                                                  *** The End ***