In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\suven\anaconda3\lib\site-packages (4.7.2)
Requirement already satisfied: trio~=0.17 in c:\users\suven\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\suven\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\suven\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\suven\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: sortedcontainers in c:\users\suven\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\suven\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: attrs>=19.2.0 in c:\users\suven\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: idna in c:\users\suven\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: outcome in c:\users\suven\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\suven\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: sniffio in c:\users\suven\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\suven\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: pycparser in c:\users\suven\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\suven\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\suven\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\suven\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [3]:
# Connecting to the webdriver
driver = webdriver.Chrome(r"C:\Users\suven\OneDrive\Desktop\Internship\Web Scraping\Selenium\chromedriver.exe")

In [ ]:
driver = webdriver.Chrome(r"chromedriver.exe")

## ASSIGNMENT

Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You 
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 
jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the 
location” field.
3. Then click the searchbutton.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually

In [21]:
#1. First get the webpage https://www.naukri.com/
driver.get('https://www.naukri.com/')

In [24]:
#2.Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the location” field.
designation = driver.find_element(By.CLASS_NAME,'suggestor-input')
designation.send_keys('Data Analyst')

In [25]:
location = driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input')
location.send_keys('Bangalore')

In [ ]:
#3.Then click the searchbutton.

In [26]:
search = driver.find_element(By.CLASS_NAME,'qsbSubmit')
search.click()

In [ ]:
#4.Then scrape the data for the first 10 jobs results you get.

In [34]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [35]:
#Scraping job title from the given page
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

experience_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in company_tags[0:10]:
    experience=i.text
    experience_required.append(experience)

In [36]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [ ]:
5. #Finally create a dataframe of the scraped data. Note: All of the above steps have to be done in code.
No step is to be done manually

In [37]:
df=pd.DataFrame({'Title':job_title,'location':job_location,'company':company_name,'experience':experience_required})
df

,Title,location,company,experience
0,Data Analyst 2,Bangalore/Bengaluru,Zynga,Zynga
1,Data Analyst Engineer,Bangalore/Bengaluru,Ethos Watch,Ethos Watch
2,Global SCM Project & Data Analyst,Bangalore/Bengaluru,Aptiv,Aptiv
3,Market Research Data Analyst,Bengaluru,Robas Research,Robas Research
4,Analyst-Data Maintenance,Bangalore/Bengaluru,Accenture,Accenture
5,Analyst-Data Maintenance,Bangalore/Bengaluru,Accenture,Accenture
6,Analyst-Clinical Data Management (CDM),Bangalore/Bengaluru,Accenture,Accenture
7,Senior Analyst - Murex Data Reporting - IT Con...,"Bangalore/Bengaluru, Mumbai, Gurgaon/Gurugram",Megma Services,Megma Services
8,Data Analyst,Bangalore/Bengaluru,Shell,Shell
9,Data Analyst / Product Analyst / Business Analyst,"Bangalore/Bengaluru, Delhi / NCR",Benchire,Benchire

-------------

Q2:Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You 
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the 
location” field.
3. Then click the searchbutton.
4. Then scrape the data for the first 10 jobs results youget.
5. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually.

In [47]:
# 1.First get the webpage https://www.naukri.com/
driver.get('https://www.naukri.com/')

In [48]:
#2.Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the location” field.
designation = driver.find_element(By.CLASS_NAME,'suggestor-input')
designation.send_keys('Data Scientist')

In [49]:
location = driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input')
location.send_keys('Bangalore')

In [50]:
#3.Then click the searchbutton.
search = driver.find_element(By.CLASS_NAME,'qsbSubmit')
search.click()

In [ ]:
#4.Then scrape the data for the first 10 jobs results youget.

In [51]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [52]:
#Scraping job title from the given page
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

experience_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in company_tags[0:10]:
    experience=i.text
    experience_required.append(experience)

In [53]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [ ]:
5. #Finally create a dataframe of the scraped data. Note: All of the above steps have to be done in code.
No step is to be done manually

In [54]:
df=pd.DataFrame({'Title':job_title,'location':job_location,'company':company_name,'experience':experience_required})
df

,Title,location,company,experience
0,Data Scientist,"Bangalore/Bengaluru, Noida, Kolkata, Mumbai, H...",Capgemini,Capgemini
1,Data Scientist,"Temp. WFH - Bangalore/Bengaluru, Hyderabad/Sec...",Tech Mahindra,Tech Mahindra
2,Data Science Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture,Accenture
3,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture,Accenture
4,Lead Data Scientist,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",Birlasoft,Birlasoft
5,Data Scientist,"Hybrid - Bangalore/Bengaluru, Noida, Hyderabad...",Birlasoft,Birlasoft
6,Data Scientist Knowledge graph,"Hybrid - Bangalore/Bengaluru, Pune",Capco,Capco
7,Data Scientist,Bangalore/Bengaluru,Infosys,Infosys
8,Supply Chain Specialist Staff,Bangalore/Bengaluru,Juniper Networks,Juniper Networks
9,Analytic Delivery Lead,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Gharondaa Advisors,Gharondaa Advisors

-------

Q3: In this question you have to scrape data using the filters available on the webpage as shown below

You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results. 
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get thewebpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the searchbutton.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results youget.
6. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually.

In [203]:
#1.first get thewebpage https://www.naukri.com/
driver.get('https://www.naukri.com/')

In [60]:
#2.Enter “Data Scientist” in “Skill, Designations, and Companies” field.

In [204]:
designation = driver.find_element(By.CLASS_NAME,'suggestor-input')
designation.send_keys('Data Scientist')

In [ ]:
#3.Then click the searchbutton.

In [205]:
search = driver.find_element(By.CLASS_NAME,'qsbSubmit')
search.click()

In [ ]:
#4.Then apply the location filter and salary filter by checking the respective boxes

In [206]:
loc_filter=driver.find_elements(By.XPATH,"//div[@class='mt-8 chckBoxCont']//span")


for i in loc_filter :
    if (i.text=='Delhi / NCR'):
        i.click()
        break

In [207]:
sal_filter=driver.find_elements(By.XPATH,"//div[@class='mt-8 chckBoxCont']//span")
for i in sal_filter:
    if(i.text=='3-6 Lakhs'):
        i.click()
        break

In [ ]:
#scraping required data

In [ ]:
#5.Then scrape the data for the first 10 jobs results you get.

In [209]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [210]:
#Scraping job title from the given page
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

experience_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in company_tags[0:10]:
    experience=i.text
    experience_required.append(experience)

In [ ]:
#6.Finally create a dataframe of the scraped data. Note: All of the above steps have to be done in code. No step is to be done manually.

In [211]:
df=pd.DataFrame({'Title':job_title,'location':job_location,'company':company_name,'experience':experience_required})
df

,Title,location,company,experience
0,Data Scientist,"Noida, Kolkata, Mumbai, Hyderabad/Secunderabad...",Capgemini,Capgemini
1,Data Scientist,"Temp. WFH - Hyderabad/Secunderabad, Pune, Chen...",Tech Mahindra,Tech Mahindra
2,Analystics & Modeling Specialist,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",Accenture,Accenture
3,Data Science Specialist,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",Accenture,Accenture
4,Data Engineer,"Temp. WFH - Pune, Chennai, Mumbai (All Areas)",Hexaware Technologies,Hexaware Technologies
5,Data Scientist,Bangalore/Bengaluru,ANZ,ANZ
6,Staff Data Analyst,Bangalore/Bengaluru,Walmart,Walmart
7,Data Scientist,Bangalore/Bengaluru,ANZ,ANZ
8,Lead Data Scientist,"Noida, Hyderabad/Secunderabad, Pune, Chennai, ...",Birlasoft,Birlasoft
9,Data Scientist,"Hybrid - Noida, Hyderabad/Secunderabad, Pune, ...",Birlasoft,Birlasoft

-----

Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. ProductDescription
3. Price
The attributes which you have to scrape is ticked marked in the below image.

To scrape the data you have to go through following steps:
1. Go to Flipkart webpage by url :https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and 
click the search icon
3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap the 
required data asusual.

4. After scraping data from the first page, go to the “Next” Button at the bottom other page , then
click on it.
5. Now scrape data from this page asusual
6. Repeat this until you get data for 100sunglasses.
Note: That all of the above steps have to be done by coding only and not manually.

In [48]:
#1. Go to Flipkart webpage by url :https://www.flipkart.com/
driver.get('https://www.flipkart.com/')

In [49]:
#2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and click the search icon 

search_product = driver.find_element(By.CLASS_NAME,'_3704LK')
search_product.send_keys('sunglasses')

In [50]:
#click on the search button

search_button =driver.find_element(By.CLASS_NAME,'L0Z3Pu')
search_button.click()

In [ ]:
#3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap the required data asusual.
#4.After scraping data from the first page, go to the “Next” Button at the bottom other page , then click on it.
#5.Now scrape data from this page asusual

In [51]:
Brand = []
Product_Description = []
Price= []


brand = driver.find_elements(By.XPATH,"//div[@class='_2WkVRV']")
prod_desc = driver.find_elements(By.XPATH,"//p[@class='IRpwTa']")
price = driver.find_elements(By.XPATH,"//div[@class='_30jeq3']")



for i in brand:
    Brand.append(i.text)
for j in prod_desc:
    Product_Description.append(j.text)
for k in price:
    Price.append(k.text) 

    
time.sleep(3)        
        
        
nxt_button=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]/span')
nxt_button.click()

In [52]:
print(len(Brand),len(Price))

40 40

In [54]:
#lets  make dataframe from the scraped data

df = pd.DataFrame({'Brand':Brand[0:100],'Price':Price[0:100]})

df

                Brand   Price
0            Soul Hub  ₹1,208
1              Resist  ₹1,399
2           Elligator    ₹149
3            Fastrack    ₹649
4            Fastrack    ₹539
5           Elligator    ₹229
6   SHAAH COLLECTIONS    ₹185
7      ROZZETTA CRAFT    ₹449
8           Elligator    ₹129
9          PHENOMENAL    ₹129
10         LIZA ANGEL    ₹174
11             Dervin    ₹224
12             PIRASO    ₹274
13             SUNBEE    ₹185
14             SUNBEE    ₹129
15          ROYAL SON    ₹497
16               SRPM    ₹129
17          New Specs    ₹259
18          Elligator    ₹149
19       Silver Kartz    ₹266
20      VINCENT CHASE    ₹599
21               SRPM    ₹149
22             SUNBEE    ₹129
23     ROZZETTA CRAFT    ₹449
24         EYELLUSION    ₹281
25           Fastrack    ₹566
26       Satyam Kraft    ₹299
27     ROZZETTA CRAFT    ₹649
28               SRPM    ₹179
29             PIRASO    ₹268
30             PIRASO    ₹182
31         IZAAN MART    ₹530
32             PIRASO    ₹244
33         LIZA ANGEL    ₹129
34         LIZA ANGEL    ₹129
35     ROZZETTA CRAFT    ₹399
36             PIRASO    ₹257
37             PIRASO    ₹270
38          Elligator    ₹149
39             SUNBEE    ₹185

-----

Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: 
https://www.flipkart.com/apple-iphone-11-black-64-gb/productreviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market 
place=FLIPKART

As shown in the above page you have to scrape the tick marked attributes. These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100reviews.
Note: All the steps required during scraping should be done through code only and not manually.

In [176]:
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART')

In [164]:
Rating = []
Review_summary = []
Full_review = []

rating = driver.find_elements(By.XPATH,"//div[@class='_3LWZlK _1BLPMq']")
review = driver.find_elements(By.XPATH,"//p[@class='_2-N8zT']")
full_review = driver.find_elements(By.XPATH,"//div[@class='t-ZTKy']")

#for page in range(0,3):
for i in rating:
    Rating.append(i.text)
for o in review:
    Review_summary.append(o.text)
for p in full_review:
    Full_review.append(p.text)    
    
df = pd.DataFrame({'Rating':Rating,'Review_summary':Review_summary,'Full_review':Full_review})

df

,Rating,Review_summary,Full_review
0,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
1,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
2,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
3,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
4,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
5,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
6,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
7,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
8,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
9,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...

----

Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the 
search field.
You have to scrape 3 attributes of each sneaker:
1. Brand
2. ProductDescription
3. Price
As shown in the below image, you have to scrape the above attributes.

In [171]:
driver.get('https://www.flipkart.com/')

In [172]:
search_product = driver.find_element(By.CLASS_NAME,'_3704LK')
search_product.send_keys('sneakers')

In [173]:
#click on the search button

search_button =driver.find_element(By.CLASS_NAME,'_34RNph')
search_button.click()

In [183]:
Brand = []
Product_Description = []
Price= []


for i in range(3):
    brand = driver.find_elements(By.CLASS_NAME,'_2WkVRV')
    for i in brand:Brand.append(i.text)
    
    product_des = driver.find_elements(By.CLASS_NAME,'IRpwTa')
    for i in product_des:Product_Description.append(i.text)    
    
    price = driver.find_elements(By.CLASS_NAME,'_30jeq3')
    for i in price:Price.append(i.text)

time.sleep(3)        
        
        
nxt_button=driver.find_element(By.CLASS_NAME,'_1LKTO3')
nxt_button.click()

In [185]:
print(len(Brand),len(Product_Description),len(Price))

120 120 135

In [189]:
#creating DataFrame for the scraped Data

df=pd.DataFrame()
df["BRAND"]=Brand[:100]
df["PRODUCT_DESCRIPTION"]=Product_Description[:100]
df["PRICE"]=Price[:100]
df

,BRAND,PRODUCT_DESCRIPTION,PRICE
0,GVR,CLASSIC CT SNEAKER Sneakers For Men,₹749
1,GVR,SNEAKERS FOR MEN Sneakers For Men,₹749
2,World Wear Footwear,5011-Latest Collection Stylish & Trendy Casual...,₹199
3,ADIDAS,STREET ICON M Sneakers For Men,"₹1,907"
4,aadi,Synthetic Leather |Lightweight|Comfort|Summer|...,₹434
...,...,...,...
95,Bepassion,STYLISH CASUAL FOR MEW Sneakers For Men,"₹1,047"
96,SFR,Sneakers For Men,₹199
97,ADIDAS,STREET ICON M Sneakers For Men,₹749
98,RED TAPE,Sneakers For Men,₹399
99,ADIDAS ORIGINALS,NIZZA PLATFORM W Sneakers For Women,"₹1,504"

----

Q7: Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. Then 
set CPU Type filter to “Intel Core i7” as shown in the below image:
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:
1. Title
2. Ratings
3. Price

In [48]:
driver.get('https://www.amazon.com/')

In [49]:
#click on the search button

Product = driver.find_element(By.XPATH,"//input[@class='nav-input nav-progressive-attribute']")
Product.send_keys('Laptop')

In [50]:
#click on the search button

search_button =driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
search_button.click()

In [51]:
#Then set CPU Type filter to “Intel Core i7

CPU = driver.find_element(By.XPATH,'//span[@class="a-size-base a-color-base puis-bold-weight-text"]')
CPU.click()

In [53]:
Inteli7 = driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[3]/li[6]/span/div/div/ul/li[16]/span/a/span')
Inteli7.click()

In [54]:
title_el=driver.find_elements(By.XPATH,"//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']")
title=[]
for i in title_el[:10]:
    title.append(i.text)

In [55]:
price_el=driver.find_elements(By.XPATH,"//span[@class='a-price-whole']")
price=[]
for i in price_el[:10]:
    price.append(i.text)

In [56]:
Rating=[]
titles_rat=driver.find_elements(By.XPATH,"//div[@class='a-row a-size-small']/span")

for i in titles_rat:

    Rating.append(i.get_attribute("aria-label"))

rating=[]

for i in range(0,len(Rating))[0:20]:

    if i == 0 or  i/2 == i//2:

        rating.append(Rating[i][0:3])

In [57]:
print(len(title),len(price),len(rating))

10 10 10

In [ ]:
# Creating a dataframe of the scraped details

In [58]:
df=pd.DataFrame({'Title':title,'Ratings':rating,'Price':price})
df

                                               Title Ratings  Price
0  Acer Aspire 5 Notebook Laptop, 15.6 inch FHD D...     4.5    759
1  Lenovo IdeaPad 3 Laptop, 14" FHD Display, Inte...     4.5    699
2  Acer Nitro 5 AN515-57-79TD Gaming Laptop | Int...     4.5    798
3  ASUS TUF Dash 15 (2022) Gaming Laptop, 15.6" 1...     4.4  1,149
4  Lenovo IdeaPad Gaming 3i - 2022 - Everyday Gam...     4.6    829
5  Acer Nitro 5 AN515-58-725A Gaming Laptop | Int...     5.0  1,340
6  HP 2022 Newest ProBook 15.6" Business Laptop F...     4.1  1,379
7  2022 Newest HP 17 Laptop, 17.3 " HD+ Touchscre...     5.0    999
8  Acer Aspire 5 Notebook Laptop, 15.6 inch FHD D...     4.4    759
9  Acer 2023 Newest Aspire Vero AV15-51-7617 Gree...     4.5    699

----

Q8: Write a python program to scrape data for Top 1000 Quotes of All Time.
The above task will be done in following steps:
1. First get the webpagehttps://www.azquotes.com/
2. Click on TopQuotes
3. Than scrap a) Quote b) Author c) Type Of Quotes

In [298]:
#1. First get the webpagehttps://www.azquotes.com/

driver.get('https://www.azquotes.com/')

In [ ]:
# Click on TopQuotes

In [299]:
Top_Quotes_button =driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a')
Top_Quotes_button.click()

In [ ]:
#3. Then scrap a) Quote b) Author c) Type Of Quotes

In [ ]:
#a) Quote

In [300]:
Quotes_list=[]
Authors_list=[]
Type_of_Quotes_list=[]

In [301]:
Quotes_list_tags = driver.find_elements(By.XPATH,'//a[@class="title"]')
for i in Quotes_list_tags[0:10]:
    quotes=i.text
    Quotes_list.append(quotes)

Authors_list_tags = driver.find_elements(By.XPATH,'//div[@class="author"]')
for i in Authors_list_tags[0:10]:
    authors=i.text
    Authors_list.append(authors)

Type_of_Quotes_list_tags=driver.find_elements(By.XPATH,'//div[@class="tags"]')
for i in Type_of_Quotes_list_tags[0:10]:
    quotes_type=i.text
    Type_of_Quotes_list.append(quotes_type)

In [302]:
print(len(Quotes_list),len(Type_of_Quotes_list),len(Authors_list))

10 10 10

In [303]:
# Creating a dataframe of the scraped items
df=pd.DataFrame({'Quotes':Quotes_list,'Author':Authors_list,'Type_of_Quotes':Type_of_Quotes_list})
df

,Quotes,Author,Type_of_Quotes
0,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
5,Be more concerned with your character than you...,John Wooden,"Inspirational, Success, Basketball"
6,Weak people revenge. Strong people forgive. In...,Albert Einstein,"Strong, Revenge, Intelligent"
7,A mind is like a parachute. It doesn't work if...,Frank Zappa,"Inspirational, Teacher, Religious"
8,Never be afraid to raise your voice for honest...,William Faulkner,"Truth, Honesty, Lying"
9,There are three kinds of men. The one that lea...,Will Rogers,"Funny, Reading, Learning"

----

Q9: Write a python program to display list of respected former Prime Ministers of India(i.e. Name, Born-Dead, 
Term of office, Remarks) from https://www.jagranjosh.com/.
This task will be done in following steps:
1. First get the webpagehttps://www.jagranjosh.com/
2. Then You have to click on the GK option
3. Then click on the List of all Prime Ministers of India
4. Then scrap the mentioned data and make theDataFrame.

In [7]:
driver.get('https://www.jagranjosh.com/')

In [8]:
GK_button =driver.find_element(By.XPATH,'/html/body/div/div[1]/div/div[1]/div/div[6]/div/div[1]/header/div[3]/ul/li[9]/a')
GK_button.click()

In [9]:
PM_List =driver.find_element(By.XPATH,'/html/body/div[1]/div/div/div[2]/div/div[10]/div/div/ul/li[2]/a')
PM_List.click()

In [10]:
Name=[]
Born_Dead=[]
Term_Office=[]
Remark=[]

In [11]:
Name_tags=driver.find_elements(By.XPATH,'//div[@class="table-box"]/table/tbody/tr/td[2]/p')
for i in Name_tags:
    name=i.text
    Name.append(name)
Name[0:3]

['Jawahar Lal Nehru', 'Gulzarilal Nanda (Acting)', 'Lal Bahadur Shastri']

In [12]:
Born_Dead_tags=driver.find_elements(By.XPATH,'//div[@class="table-box"]/table/tbody/tr/td[3]/p')
for i in Born_Dead_tags:
    born_dead=i.text
    Born_Dead.append(born_dead)
Born_Dead[0:3]

['(1889–1964)', '(1898-1998)', '(1904–1966)']

In [13]:
Term_Office_tags=driver.find_elements(By.XPATH,'//div[@class="table-box"]/table/tbody/tr/td[4]/p')
for i in Term_Office_tags:
    term=i.text
    Term_Office.append(term)
Term_Office[0:3]

['15 August 1947 to 27 May 1964',
 '16 years, 286 days',
 '27 May 1964 to 9 June 1964,']

In [14]:
Remark_tags=driver.find_elements(By.XPATH,'//div[@class="table-box"]/table/tbody/tr/td[5]/p')
for i in Remark_tags:
    remark=i.text
    Remark.append(remark)
Remark[0:3]

['The first prime minister of India and the longest-serving PM of India, the first to die in office.',
 'First acting PM of India',
 "He has given the slogan of 'Jai Jawan Jai Kisan' during the Indo-Pak war of 1965"]

In [136]:
print(len(Name),len(Born_Dead),len(Term_Office),len(Remark))

54 54 71 36

In [17]:
df=pd.DataFrame({'Name':Name[0:10],'Born_Dead':Born_Dead[0:10],'Term_Office':Term_Office[0:10],'Remark':Remark[0:10]})
df

,Name,Born_Dead,Term_Office,Remark
0,Jawahar Lal Nehru,(1889–1964),15 August 1947 to 27 May 1964,The first prime minister of India and the long...
1,Gulzarilal Nanda (Acting),(1898-1998),"16 years, 286 days",First acting PM of India
2,Lal Bahadur Shastri,(1904–1966),"27 May 1964 to 9 June 1964,",He has given the slogan of 'Jai Jawan Jai Kisa...
3,Gulzari Lal Nanda (Acting),(1898-1998),13 days,-
4,Indira Gandhi,(1917–1984),9 June 1964 to 11 January 1966,First female Prime Minister of India
5,Morarji Desai,(1896–1995),"1 year, 216 days",Oldest to become PM (81 years old) and first t...
6,Charan Singh,(1902–1987),11 January 1966 to 24 January 1966,Only PM who did not face the Parliament
7,Indira Gandhi,(1917–1984),13 days,The first lady who served as PM for the second...
8,Rajiv Gandhi,(1944–1991),24 January 1966 to 24 March 1977,Youngest to become PM (40 years old)
9,V. P. Singh,(1931–2008),"11 years, 59 days",First PM to step down after a vote of no confi...

---

Q10: Write a python program to display list of 50 Most expensive cars in the world (i.e. 
Car name and Price) from https://www.motor1.com/
This task will be done in following steps:
1. First get the webpagehttps://www.motor1.com/
2. Then You have to click on the List option from Dropdown menu on leftside.
3. Then click on 50 most expensive carsin the world..
4. Then scrap the mentioned data and make the dataframe

In [307]:
driver.get('https://www.motor1.com/')

In [308]:
Dragdown =driver.find_element(By.CLASS_NAME,'m1-hamburger-button')
Dragdown.click()

In [309]:
List=driver.find_element(By.XPATH,'/html/body/div[4]/div[1]/div[3]/ul/li[5]/a')
List.click()

In [312]:
expcars=driver.find_element(By.XPATH,'/html/body/div[3]/div[9]/div[1]/div[1]/div/div/div[9]/div/div[1]/h3/a')
expcars.click()

In [313]:
Brand=[]
Price=[]
Description=[]

In [67]:
Brand_tags=driver.find_elements(By.XPATH,'//h3[@class="subheader"]')
for i in Brand_tags[0:10]:
    brand=i.text
    Brand.append(brand)
    
Price_tags=driver.find_elements(By.XPATH,'//strong[@class="subheader"]')
for i in Price_tags[0:10]:
    price=i.text
    Price.append(price)

#Desc_tags=driver.find_elements(By.XPATH,'//p[@class="subheader"]')
#for i in Desc_tags[0:10]:
    #desc=i.text
    #Description.append(desc)

In [69]:
print(len(Brand),len(Price))

40 40

In [71]:
df=pd.DataFrame({'CarName':Brand,'Price':Price})
df

              CarName   Price
0            Soul Hub  ₹1,208
1              Resist  ₹1,399
2           Elligator    ₹149
3            Fastrack    ₹699
4            Fastrack    ₹499
5           Elligator    ₹129
6   SHAAH COLLECTIONS    ₹185
7           CART2DEAL  ₹1,244
8           Elligator    ₹229
9          PHENOMENAL    ₹129
10         LIZA ANGEL    ₹174
11          CART2DEAL  ₹1,244
12             PIRASO    ₹274
13             SUNBEE    ₹129
14           Fastrack    ₹579
15     ROZZETTA CRAFT    ₹649
16             SUNBEE    ₹185
17           Fastrack    ₹579
18             SUNBEE    ₹129
19     ROZZETTA CRAFT    ₹398
20               SRPM    ₹179
21      VINCENT CHASE    ₹599
22          Elligator    ₹149
23       Silver Kartz    ₹266
24          New Specs    ₹259
25             PIRASO    ₹182
26               SRPM    ₹149
27           Soul Hub  ₹1,215
28               SRPM    ₹129
29             PIRASO    ₹268
30          Elligator    ₹149
31     ROZZETTA CRAFT    ₹398
32         EYELLUSION    ₹281
33       Satyam Kraft    ₹299
34         LIZA ANGEL    ₹129
35             Dervin    ₹224
36         LIZA ANGEL    ₹129
37             PIRASO    ₹270
38             SUNBEE    ₹273
39     ROZZETTA CRAFT    ₹499

-----

#                                                  *** The End ***